<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BeginnerGain</h1>
            <h2>초보 개발자들을 위한 코드 생성 서비스</h2>
            <hr>
            <p>비기너게인(BeginnerGain)은 몇번의 클릭만으로 개발자들이 프로젝트의 기본 구조를 세팅할 수 있는 환경을 제공합니다.
                특정 프레임워크에 대한 지식이 없는 초보 개발자들의 입장을 고려하여 간편하고 직관적인 UI와 플로우로 이루어져 있으며, 인공지능을 이용한 대화형 챗봇을 통해 사용자의 선택을 돕습니다.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">BeginnerGain 알아보기</a>
        </div>
    </div>
</header>
