<div class="development-info">
    <div>
        <h2>기술 스택</h2>
        <hr>
        <p>Frontend</p>
        <img src="https://img.shields.io/badge/Next.js-000000?style=for-the-badge&logo=Spring&logoColor=white"/>
        <img src="https://img.shields.io/badge/react-61DAFB?style=for-the-badge&logo=oracle&logoColor=white"/>
        <p>Backend</p>
        <img src="https://img.shields.io/badge/NestJS-E0234E?style=for-the-badge&logo=java&logoColor=white"/>
        <img src="https://img.shields.io/badge/postgresql-4169E1?style=for-the-badge&logo=java&logoColor=white"/>
        <img src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white"/>
        <p>AI</p>
        <img src="https://img.shields.io/badge/chatGPT-74aa9c?style=for-the-badge&logo=openai&logoColor=white"/>
        <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"/>
    </div>
    <div>
        <h2>시스템 아키텍처</h2>
        <hr>
        <img src="../img/architecture.png" width="800" height="500">
    </div>
    <div>
        <h2>시연 영상</h2>
        <hr>
        <div class="service-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UbH1HO6OxUY?si=2Gedn3kwkVbCIJV-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>