@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media screen and (min-width:1279px) {
  html{font-size:14px;}
}

@media screen and (min-width:768px) and (max-width:1278px) {
  html{font-size:12px;}
}

@media screen and (max-width:768px){
  html{font-size:10px;}
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  padding: 0;
  margin: 0;
}